@import url(//db.onlinewebfonts.com/c/2d5f91cbc8faa21103d08ce9d19040d6?family=ChangelingNeoW01-Bold);

@font-face {font-family: "ChangelingNeoW01-Bold"; src: url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.eot"); src: url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.woff") format("woff"), url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.svg#ChangelingNeoW01-Bold") format("svg"); }

html {
    background-color: rgb(204, 204, 204);
}
* {
    scroll-behavior: smooth;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans Condensed', Verdana, Geneva, Tahoma, sans-serif;
    heights: 100%;
    margin: auto;
    max-width: 1920px;
    min-width: 300px;
    background-color: white;
}
main {
    position: "relative";
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
footer {
    background:  rgb(94, 92, 92);
    position: relative;
    width: 100%;
}
h1 {
    font-size: 40px;
    margin: 0;
    font-weight: normal;
}
h2 {
    font-size: 30px;
    font-weight: normal;
}
h3 {
    font-size: 20px;
    font-weight: normal;
}
h4 {
    font-size: 17px;
    font-weight: normal;
}
a {
    color: black;
    text-decoration: none;
  }
li {
    list-style: none;
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: white;
}
#loading-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%);
}
.not-loaded {
    opacity: 0;
}
.passive {
    position: relative !important;
    top: -1111px !important;
    z-index: -1 !important;
    height: 0;
}
.invisible {
    opacity: 0;
}
.hidden {
    top: -1000% !important;
    left: -1000% !important;
}
.btn {
    padding: 10px;
    margin: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
    user-select: none;
    background-color: rgb(94, 92, 92);
    background-image: linear-gradient(to right, rgb(94, 92, 92), rgb(165, 149, 149));
}
.btn:hover {
    background-image: linear-gradient(to right, rgb(74, 74, 74), rgb(120, 120, 120));
    -webkit-transition: all 1s;
    transition: all 1s;
}

/* <<<<< HEADER >>>>> */
.title-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    border-bottom: 1px solid rgb(83, 56, 15);
    left: 0px;
    top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
    max-width: 1920px;
    background-color: white;
    min-width: 300px;
    z-index: 1000;
}
.title {
    font-family: "ChangelingNeoW01-Bold";
}
#title  {
    font-size: 25px;
    grid-column-start: 2;
    text-align: center;
    user-select: none;
}
.nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-overflow-scrolling: touch; 
    width: 100%;
    justify-content: center;
    top: 59px;
    left: 0;
    font-size: 16px;
    border-top: 0px solid rgb(128, 128, 128);
    box-shadow: 0px 0px 2px .1px gray;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 15px;
    max-width: 1920px;
}
.nav-ul-top {
    top: 0;
}
.nav-ul li {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
}
.nav-slide {
    position: fixed;
    -webkit-transition: top 1s ease-in;
    transition: top 1s ease-in;
    background-color: white;
    z-index: 9;
    padding-top: 6px;
    margin-top: 0px;
}
.nav-page-container{
    margin-left: 30px;
    margin-right: 30px;
}
.nav-page-container > .active {
    position: relative;
}
.nav-page-container > .active::after {
    position: absolute;
    content: "";
    width: 50%;
    display: block;
    border-bottom: 1px solid rgb(87, 87, 87);
    padding-top: 4px;
}
.nav-item:hover, .nav-page-item:hover, .newsletter:hover {
    color: black;
    font-weight: bold;
}
.nav-menu-ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-menu-ul li {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}
.menu-passive {
    width: 100%;
    height: 100%;
    top: -100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: white;
    z-index: 1;    
} 
.menu-active {
    top: 50%;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.menu-nav-item {
    padding: 20px;
}


/* <<<<< MENU >>>>> */
.menu-wrap, .newsletter {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%); 
    cursor: pointer;
}
.newsletter {
    font-size: 18px;
}
.menu-wrap .toggler {
    position: absolute;
    top: -30px;
    left: -25px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.menu-wrap .menu-btn {
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu-btn > div {
    position: relative;
    width: 100%;
    height: 2px;
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.menu-wrap .menu-btn > div::before,
.menu-wrap .menu-btn > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
.menu-wrap .menu-btn > div::after {
    top: 10px;
}
.menu-wrap .toggler:checked + .menu-btn > div {
transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .menu-btn > div:before,
.menu-wrap .toggler:checked + .menu-btn > div:after {
    top: 0;
    transform: rotate(90deg);
}
/* Rotate On Hover When Checked */
/*
.menu-wrap .toggler:checked:hover + .menu-btn > div {
transform: rotate(315deg);
}
.menu-wrap .toggler:hover + .menu-btn > div {
    transform: rotate(-180deg);
}
*/

@media screen and (min-width: 1920px) {
    .title-container, .nav .nav-ul {
        left: 50%;
        margin-left: -960px;
    }
}
@media screen and (max-width: 768px) {
    .nav-ul {
        padding: 0;
    }
}

/* <<<<< CONTAINERS && GRIDS && FLEX >>>>> */
.container-image-text {
    user-select: none;
    width: 90%;
}
.container-image-text div {
    max-height: 90%;
    overflow: hidden;
}
.container-image-text img {
    display: block;
    width: 100%;
    object-fit: cover;
    padding-top: 40px;
}
.container-image-text h1, .flex-2x2-item h1 {
    position: relative;
    top: -150px;
    left: 50%;
    transform: translate( -50%, 0 );
    text-align: center;
    background-color: rgba(133, 131, 131, 0.301);
    color: rgb(255, 255, 255);
    width: 80%;
}
.container-image-text h2 {
    width: 90%;
}
.container-image-text h3 {
    max-height: 100%;
    width: 100%;
}
.container-article {
    padding-top: 40px;
    width: 100%;
    line-height: 35px;
}
.container-article h4 {
    color: rgb(87, 87, 87);
}
.container-article h1:after {
    content: "";
    position: relative;
    width: 20%;
    left: 40%;
    content: "";
    display: block;
    border-bottom: 1px solid rgb(87, 87, 87);
    margin-top: 10px;
}
.container-article .details {
    padding: 30px;
}
.container-article .details h5:last-child {
    color: rgb(124, 124, 124);;
}
.container-article .wide {
    width: 100%;
    max-height: 80%;
    overflow: hidden;
}
.container-article .wide img {

}
.container-article img {
    width: 100%;
}
.container-article .content {
    width: 80%;
    padding: 30px;
    text-align: left;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.flex-2x2-item {
    width: 45%; 
}
.flex-2x2-item img {
    display: block;
    object-fit: scale-down;
    width: 100%;    
}
.flex-2x2-item h1 {
    width: 100%;
    top: -70px;
    color: rgb(49, 49, 49);
    background-color: rgba(255, 255, 255, 0.301);
}
@media screen and (max-width: 768px) {
    .container-image-text img {
        width: 100%;
    }
    .container-image-text h1 {
        left: 5%;
        width: 90%;
        transform: translate( 0, 0 );
    }
    .container-image-text h1 strong {
        font-weight: normal;
    }
    .container-image-text .title {
        font-size: 30px;
    }
    .container-article .content {
        width: 100%;
    }
    .flex-2x2-item {
        width: 100%;
    }
} 
/* <<<<< MAIN >>>>> */
main h1:first-child {
    margin: 20px;
    margin-top: 30px;
}
.border-title {
    position: relative;
    border-top: 1px rgba(128, 128, 128, 0.24) solid;
    border-bottom: 1px rgb(128, 128, 128, 0.24) solid;
    padding: 15px;
    margin-bottom: 65px;
    font-size: 25px;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    "g-1 g-2 g-3"
    "g-4 g-2 g-5";
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 25px;
    padding: 40px;
    margin-bottom: 20px;
}
.grid-container-passive {
    padding-top: 40px;
}
#grid-1 {
    grid-area: g-1;
}
#grid-2 {
    grid-area: g-2;
}
#grid-3 {
    grid-area: g-3;
}
#grid-4 {
    grid-area: g-4;
}
#grid-5 {
    grid-area: g-5;
}
.grid-item {
    object-fit: cover;
}
.grid-img {
    width: 100%;
}
.article-title {
    text-align: left;
}
.article-title h1 {
    text-align: left;
    margin-bottom: 10px; 
}
.article-title h2 {
    margin-top: 0;  
    margin-bottom: 10px;  
}
.article-title:after {
    content: "";
    width: 50%;
    display: block;
    border-bottom: 1px solid rgb(87, 87, 87);
    margin-bottom: 20px;
}
.article-p {
    color: rgb(87, 87, 87);
    position: relative;
    text-align: left;
    margin-bottom: 0;  
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    main {
        padding-bottom: 30px;
    }
    main h1:first-child {
        margin: 20px;
    }
    .border-title {
        margin-bottom: 40px;
    }
    .grid-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }
    .grid-item {
        padding-bottom: 40px;
    }
}
/* <<<<< OFFER >>>>> */ 
.offer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.offer * {
    margin: 0;
}
.offer-btn {
    padding-left: 20px; 
}
@media screen and (max-width: 768px) {
    .offer {
        flex-direction: column;
    }
    .offer-btn {
        padding-top: 20px; 
    }
}

/* <<<<< LINKS >>>>> */
.links {
    background-color: rgba(247, 247, 247, 0.815);
    width: 100%;
}
.links-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 40px;
    padding-left: 10%;
    padding-top: 0px;
    margin-top: -30px;
    text-align: left;
    margin: auto;
}
.link-item {
    padding: 0;
    margin: 0;
}
.link-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.link-img-container {
    padding: 0;
    margin: 0;
}
.link-img {
    object-fit: cover;
    height: 90px;
    width: 90px;
    
}
.link-p {
    color: grey;
    margin-top: 0;
    margin-bottom: 0;
}
.link-titles {
    padding-left: 20px;
    margin: 0;
}
.link-title {
    margin-top: 0;
}
@media screen and (max-width: 768px) {
    .links-container {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .link-img-container {
        align-self: center;
    }
    .link-titles {
        padding-left: 20px;
    }
} 

/* <<<<< FOOTER >>>>> */
.footer * {
    color: white;
}
.footer {
    padding-top: 40px;
    padding-bottom: 20px;
}
.flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
    flex-wrap: wrap;
    padding: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.flex-footer div {
    margin: 0
}
.flex-footer-item-title {
    font-weight: bold;
}
.fabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: left;
}
.fabs * {
    margin: 0;  
}
.fabs i {
    font-size: 25px;
    -webkit-transition: color 1s;
    transition: color 1s;
}
.fabs i:hover {
    color: rgb(155, 155, 155);
    -webkit-transition: color 1s;
    transition: color 1s;
}
.fabs li {
    padding: 20px;
    padding-left: 0;
}
.flex-footer-item-title:hover, .flex-footer-item-list li:hover {
    text-decoration: underline;
}
.flex-footer-misc {
    margin-top: 20px;
    padding-top: 40px;
    flex-basis: 100%;
}
.flex-footer-misc:before {
    position: absolute;
    bottom: 80px;
    left: 0;
    content: "";
    width: 100%;
    border-top: 1px solid white;
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .footer * {
        text-align: center;
    }
    .flex-footer {
        flex-direction: column;
    }
    .flex-footer-item {
        padding-bottom: 10px;
    }
    .flex-footer-item li {
        padding: 10px;
    }
    .fabs {
        justify-content: center;
    }
    .fabs li {
        padding: 20px;
    }
}
