@import url(//db.onlinewebfonts.com/c/2d5f91cbc8faa21103d08ce9d19040d6?family=ChangelingNeoW01-Bold);

@font-face {font-family: "ChangelingNeoW01-Bold"; src: url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.eot"); src: url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.woff") format("woff"), url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.svg#ChangelingNeoW01-Bold") format("svg"); }


* {
    scroll-behavior: smooth;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans Condensed', Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin: auto;
}
main {
    position: "relative";
    text-align: center;
    min-width: 300px;
    padding-top: 120px;
    padding-bottom: 80px;
}
h1 {
    font-size: 40px;
    margin: 0;
    font-weight: normal;
}
h2 {
    font-size: 30px;
    font-weight: normal;
}
h3 {
    font-size: 20px;
    font-weight: normal;
}
a {
    color: black;
    text-decoration: none;
  }
li {
    list-style: none;
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: white;
}
#loading-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%);
}
.not-loaded {
    opacity: 0;
}
.passive {
    position: relative !important;
    top: -1111px !important;
    z-index: -1 !important;
    height: 0;
}
.invisible {
    opacity: 0;
}
.hidden {
    top: -1000% !important;
    left: -1000% !important;
}
.btn {
    padding: 10px;
    margin: 20px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
    user-select: none;
    background-color: rgb(94, 92, 92);
    background-image: linear-gradient(to right, rgb(94, 92, 92), rgb(165, 149, 149));
}
.btn:hover {
    background-image: linear-gradient(to right, rgb(74, 74, 74), rgb(120, 120, 120));
    -webkit-transition: all 1s;
    transition: all 1s;
}

/* <<<<< HEADER >>>>> */
.title-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    border-bottom: 1px solid rgb(83, 56, 15);
    left: 0px;
    top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
    background-color: white;
    min-width: 300px;
    z-index: 1000;
}
.title {
    font-family: "ChangelingNeoW01-Bold";
}
#title  {
    font-size: 25px;
    grid-column-start: 2;
    text-align: center;
    user-select: none;
}
.nav-ul {
    display: flex;
    overflow: hidden;
    -webkit-overflow-scrolling: touch; 
    width: 100%;
    justify-content: center;
    top: 59px;
    font-size: 16px;
    border-top: 0px solid rgb(128, 128, 128);
    box-shadow: 0px 0px 2px .1px gray;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 15px;
}
.nav-ul-top {
    top: 0;
}
.nav-ul li {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
}
.nav-slide {
    position: fixed;
    -webkit-transition: top 1s ease-in;
    transition: top 1s ease-in;
    background-color: white;
    z-index: 9;
    padding-top: 6px;
    margin-top: 0px;
}
.nav-page-container{
    margin-left: 30px;
    margin-right: 30px;
}
.nav-page-container > .active {
    position: relative;
}
.nav-page-container > .active::after {
    position: absolute;
    content: "";
    width: 50%;
    display: block;
    border-bottom: 1px solid rgb(87, 87, 87);
    padding-top: 4px;
}
.nav-item:hover, .nav-page-item:hover, .newsletter:hover {
    color: black;
    font-weight: bold;
}
.nav-menu-ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-menu-ul li {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}
.menu-passive {
    width: 100%;
    height: 100%;
    top: -100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: white;
    z-index: 1;    
} 
.menu-active {
    top: 50%;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.menu-nav-item {
    padding: 20px;
}


/* <<<<< MENU >>>>> */
.menu-wrap, .newsletter {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%); 
    cursor: pointer;
}
.newsletter {
    font-size: 18px;
}
.menu-wrap .toggler {
    position: absolute;
    top: -30px;
    left: -25px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .menu-btn {
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu-btn > div {
    position: relative;
    width: 100%;
    height: 2px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap .menu-btn > div::before,
.menu-wrap .menu-btn > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .menu-btn > div::after {
    top: 10px;
}

.menu-wrap .toggler:checked + .menu-btn > div {
transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .menu-btn > div:before,
.menu-wrap .toggler:checked + .menu-btn > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
/*
.menu-wrap .toggler:checked:hover + .menu-btn > div {
transform: rotate(315deg);
}

.menu-wrap .toggler:hover + .menu-btn > div {
    transform: rotate(-180deg);
}
*/

@media screen and (max-width: 768px) {
    .nav-ul {
        padding: 0;
    }
}

/* <<<<< PRIME >>>>> */ 
.prime-img-container {
    width: 90%;
}
.prime-img-container a {
    max-height: 80%;
    width: 100%;
}
.prime-img {
    width: 80%;
    display: blocks;
    object-fit: scale-down;
    overflow: hidden;
}
.subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.subscribe-text, .subscribe-a {
    margin: 0;
}
@media screen and (max-width: 990px) {
    .subscribe-a {
        margin: 20px;
    }   
}

/* <<<<< MAIN >>>>> */
.border-title {
    position: relative;
    border-top: 1px rgba(128, 128, 128, 0.24) solid;
    border-bottom: 1px rgb(128, 128, 128, 0.24) solid;
    padding: 15px;
    margin-bottom: 65px;
    font-size: 25px;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    "g-1 g-2 g-3"
    "g-4 g-2 g-5";
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 25px;
    padding: 40px;
    margin-bottom: 20px;
}
.grid-container-passive {
    padding-top: 40px;
}
#grid-1 {
    grid-area: g-1;
}
#grid-2 {
    grid-area: g-2;
}
#grid-3 {
    grid-area: g-3;
}
#grid-4 {
    grid-area: g-4;
}
#grid-5 {
    grid-area: g-5;
}
.grid-item {
    object-fit: cover;
}
.grid-img {
    width: 100%;
}
.article-title {
    text-align: left;
}
.article-title h1 {
    text-align: left;
    margin-bottom: 10px; 
}
.article-title h2 {
    margin-top: 0;  
    margin-bottom: 10px;  
}
.article-title:after {
    content: "";
    width: 50%;
    display: block;
    border-bottom: 1px solid rgb(87, 87, 87);
    margin-bottom: 20px;
}
.article-p {
    color: rgb(87, 87, 87);
    position: relative;
    text-align: left;
    margin-bottom: 0;  
    font-size: 18px;
}
#prime-title {
    font-family: 'Playfair Display', serif;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 30px;
}
#prime-sec-title {
    padding-bottom: 40px;
    width: 80%;
    padding-top: 10px;
}

@media screen and (max-width: 768px) {
    main {
        padding-bottom: 30px;
    }
    .border-title {
        margin-bottom: 40px;
    }
    .grid-container {
        display: flex;
        flex-wrap: wrap;
    }
    .grid-item {
        padding-bottom: 40px;
    }
}
/* <<<<< SHOP >>>>> */
.shop-opening {
    user-select: none;
}
.shop-opening img {
    display: block;
    width: 80%;
    max-height: 80%;
    object-fit: scale-down;
    padding-top: 40px;
}
.shop-opening h1, .shop-category h1 {
    position: relative;
    top: -150px;
    left: 50%;
    transform: translate( -50%, 0 );
    text-align: center;
    background-color: rgba(133, 131, 131, 0.301);
    color: rgb(255, 255, 255);
    width: 80%;
}
.shop-categories {
    display: flex;
    flex-wrap: wrap;
    padding: 40px
}
.shop-category {
    width: 45%; 
}
.shop-category img {
    display: block;
    object-fit: scale-down;
    width: 100%;    
}
.shop-category h1 {
    width: 100%;
    top: -70px;
    color: rgb(49, 49, 49);
    background-color: rgba(255, 255, 255, 0.301);
}
@media screen and (max-width: 768px) {
    .shop-opening img {
        width: 100%;
    }
    .shop-opening h1 {
        left: 5%;
        width: 90%;
        transform: translate( 0, 0 );
    }
    .shop-opening h1 strong {
        font-weight: normal;
    }
    .shop-opening .title {
        font-size: 30px;
    }
    .shop-category {
        width: 100%;
    }
} 
/* <<<<< LINKS >>>>> */
.links {
    background-color: rgba(247, 247, 247, 0.815);
    width: 100%;
}
.links-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 40px;
    padding-left: 10%;
    padding-top: 0px;
    margin-top: -30px;
    text-align: left;
    margin: auto;
}
.link-item {
    padding: 0;
    margin: 0;
}
.link-item a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.link-img-container {
    padding: 0;
    margin: 0;
}
.link-img {
    object-fit: cover;
    height: 90px;
    width: 90px;
    
}
.link-p {
    color: grey;
    margin-top: 0;
    margin-bottom: 0;
}
.link-titles {
    padding-left: 20px;
    margin: 0;
}
.link-title {
    margin-top: 0;
}
@media screen and (max-width: 768px) {
    .links-container {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .link-img-container {
        align-self: center;
    }
    .link-titles {
        padding-left: 20px;
    }
} 

/* <<<<< FOOTER >>>>> */
.footer, .footer a, .fabs i, #sunnyKK {
    background:  rgb(94, 92, 92);
    color: white;
}
.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: start;
    padding: 40px;
    padding-bottom: 0;
    border-bottom: 1px solid white;

}
#footer-title {
    text-align: left;
}
.footer-title {
    font-weight: bold;
}
.fabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 0;
}
.fabs i {
    font-size: 25px;
    -webkit-transition: color 1s;
    transition: color 1s;
}
.fabs li {
    position: relative
}
.fabs i:hover {
    color: rgb(155, 155, 155);
    -webkit-transition: color 1s;
    transition: color 1s;
}
.fabs li {
    padding: 20px;
}
.footer-title:hover, .footer-more-list li:hover {
    text-decoration: underline;
}
#sunnyKK {
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
.footer, #footer-title, .fabs {
    grid-template-columns: 1fr;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
}
.footer {
    padding-bottom: 20px;
}
.fabs {
    margin: 0;
}
.footer-title {
    margin: 0;
}
.footer-more {
    padding-bottom: 10px;
}
.footer-more li {
    padding: 10px;
}
}


/* <<<<< NEWSLETTER PAGE >>>>> */
/*
#newsletter-page-title {
    font-size: 30px;
    margin-top: 20px;
    margin-left: -20%;
}
.newsletter-page-container {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-bottom: 20px;
    padding-left: 30px;
    background-color: white;
}
#email-input, #email-btn {
   border: 1px solid #ccc;
   border-radius: 2px;
   height: 40px;
}
#email-input {
   margin-top: 10px;
   margin-left: -15%;
   width: 280px;
   padding: 10px;
}
#email-btn {
   color: white;
   background-color: rgb(94, 92, 92);
}
.newsletter-tooltip-container {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 20px;
    background-color: white;
}
#tooltip-email-input, #tooltip-email-submit {
   border: 1px solid #ccc;
   border-radius: 2px;
   height: 40px;
}
#tooltip-email-input {
    width: 250px;
    margin-top: 10px;
}
#tooltip-email-submit {
    color: white;
    background-color: rgb(94, 92, 92);
 }#tooltip-email-submit:hover {
    background-color: black;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;

 }
#newsletter-tooltip-title {
    font-size: 30px;
} 
*/